{% load static %}

<head>
    <meta charset="utf-8">
    <title>加入購買資訊</title>
    <link rel=stylesheet type="text/css" href="{% static 'home/css/加入購買資訊.css' %}">
    
  </head>
  <body>
    <div>
      <h1>加入購買資訊</h1>
    </div>


      <form action="order/" method="post">
        <h2>購買日期：</h2><input type="date" name="date"><br>
        <h2>付款方式：</h2><input type="text" name="pay_method"><br>
        <h2>折價率：</h2><input type="text" name="discount_rate"><br>
        <h2>會員ID：</h2><input type="text" name="member_id"><br>
        <h2>商品ID：</h2><input type="text" name="product_id"><br>
        <h2>分店ID：</h2><input type="text" name="store_id"><br>
        <h2>鞋碼：</h2><input type="text" name="shoe_size"><br>
        <input type="submit" value="送出" class="button">
      </form>




    <!-- <div class="outer">
      <div class="button add">確認</div>
    </div> -->


  </body>
