{% load static %}

<head>
    <meta charset="utf-8">
    <title>客群分析</title>
    <link rel=stylesheet type="text/css" href="{% static 'home/css/顧客分群.css' %}">
  </head>
  <body>
    <div>
      <h1>客群分析</h1>
    </div>

    <div class="outer">
      <a href='/manage/customer_cluster/rfm/'><div class="button" id="RFM">RFM</div></a>
    </div>

    <div class="outer">
      <a href='/manage/customer_cluster/logistic/'><div class="button" id="羅吉斯回歸">羅吉斯回歸</div></a>
    </div>

    <!-- <div class="outer">
      <div class="button back">返回前頁</div>
    </div> -->


  </body>
